<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
        
    <!-- CSS -->
    <link rel='stylesheet' href='../static/css/style.css'/>

  </head>
  
  <body>


    <p id="intro"></p>

    <textarea id="txtarea"></textarea>

    <p id="people"></p>

    <p id="keydown"></p>

    <p id="keypressed"></p>

    <p id="lastchar"></p>

    <p id="accumchar"></p>

    <p id="lastwordaccum"></p>

    <p id="lastword"></p>

    <p id="newword"></p>

    <p id="newtextarea"></p>

    <p id="wordlist"></p>

    <p id="message"></p>

    <p id="keyup"></p>


    <!-- JavaScript -->
    <script src="../static/vendor/jquery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/script_clean1.js"></script>

	</body>

</html>
