<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Indice</title>
    
<!-- CSS -->
    <link type="text/css" rel='stylesheet' href='../static/css/style.css?q=1280549780"'/>

  </head>
  <body>

<h1>Studying the shuffle effect</h1>
    
<p>
In the following table I show the different steps for learning this effect.
</p>


<table border="1">

  <tr>
      <td><b>Keyword</b></td>
      <td><b>Content</b></td>
  </tr>

  <tr>
      <td><a href="app1">app1</a>:</td>
      <td>Simple effect with the content of the p tag</td>
  </tr>

  <tr>
      <td><a href="app2">app2</a>:</td>
      <td>The effect is fired by pressing the button.</td>
  </tr>

  <tr>
    <td><a href="app3">app3</a>:</td>
    <td>Some play with CSS.</td>
  </tr>

  <tr>
    <td><a href="app4">app4</a>:</td>
    <td>Button removed and effect triggered by pressirng return after put input text.</td>
  </tr>

</table>



	</body>

</html>
