<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Equazione di secondo grado</title>

    
<!-- CSS -->
    <link type="text/css" rel='stylesheet' href='../static/css/style1.css?q=1280549780"'/>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

  </head>
  
  <body>

    <p id="intro">Risolvi la seguente equazione di secondo grado:</p>

    <center><p id="eq">
      $$x^2+5x+4=0$$
    </p></center>


<button class="button button2" id="button">Clicca qui</button>


<!--
<button id="button">Clicca qui</button>
-->

 
   <p id="solution">

Le soluzioni sono <span style="font-size:2.1em; line-height:0%">\(-1\)</span> e <span style="font-size:2.1em; line-height:0%">\(-4\)</span>
   </p>


<!-- JavaScript -->
    <script src="../static/vendor/jquery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/script1.js"></script>

	</body>

</html>
