<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Equazione di secondo grado</title>

    
<!-- CSS -->
    <link type="text/css" rel='stylesheet' href='../static/css/style2.css?q=1280549780"'/>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

  </head>
  
  <body>

    <p id="intro">Risolvi la seguente equazione di secondo grado:</p>

    <center><p id="eq">
      $$x^2+5x+4=0$$
    </p></center>


<button class="button button2" id="button">Clicca qui</button>

<p class="sol">
Ecco i passaggi:

<span style="font-size:2.1em; line-height:0%">
  $$\implies \Delta = b^{2} - 4ac = 5^{2} - 4 \cdot 1 \cdot 4 = 25 - 16 = 9$$
</span>

<span style="font-size:2.1em; line-height:0%">
    $$\implies x_{12} = \frac{-b \pm \sqrt{\Delta}}{2a} = \frac{-5 \pm \sqrt{9}}{2} = \frac{-5 \pm 3}{2}$$
</span>
  
<span style="font-size:2.1em; line-height:0%">
    $$\require{cancel}
    \implies \left\{\begin{matrix} x_{1} = \frac{-5 -3}{2} =  \frac{-\cancel{8}^{4}}{\cancel{2}_{1}} = -4
\\ x_{2} = \frac{-5 + 3}{2} =  \frac{-\cancel{2}^{4}}{\cancel{2}_{1}} = -1
\end{matrix}\right. $$
</span>

</p>
    



 
   <p id="solution">

Le soluzioni sono dunque <span style="font-size:2.1em; line-height:0%">\(-4\)</span> e <span style="font-size:2.1em; line-height:0%">\(-1\)</span>
   </p>


<!-- JavaScript -->
    <script src="../static/vendor/jquery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/script2.js"></script>

	</body>

</html>
